<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019002097927-bml1nrp0haqj9f44hi8dk3q21m5qk6g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019002097927-bml1nrp0haqj9f44hi8dk3q21m5qk6g4</string>
	<key>API_KEY</key>
	<string>AIzaSyDOhP_U1ZVHSpP5l4kO2JBXUht3rHKwQmc</string>
	<key>GCM_SENDER_ID</key>
	<string>1019002097927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hany.BloodSystem</string>
	<key>PROJECT_ID</key>
	<string>etest-ed82e</string>
	<key>STORAGE_BUCKET</key>
	<string>etest-ed82e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019002097927:ios:9cfa65d117340f153ab5a2</string>
	<key>DATABASE_URL</key>
	<string>https://etest-ed82e.firebaseio.com</string>
</dict>
</plist>